name: Build savedefconfig
on:
  workflow_dispatch:
    inputs:
      REPO:
        description: 'Kernel repository'
        default: 'rsuntk/android_kernel_asus_sdm660'
        required: true
      BRANCH:
        description: 'Kernel branch'
        default: 'master'
        required: true
      DEVICE_TARGET:
        description: 'Device to build'
        default: 'X01BD'
        type: choice
        options: [X01BD, X00TD]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device: [X00TD, X01BD]
      fail-fast: false
    steps:
    - name: Set Timezone
      run: sudo ln -sf /usr/share/zoneinfo/Asia/Jakarta /etc/localtime

    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Clone kernel source
      run: git clone --depth=1 --single-branch -b ${{ github.event.inputs.BRANCH }} https://github.com/${{ github.event.inputs.REPO }} kernel_root

    - name: Prepare Dependencies
      run: chmod +x ./build.sh && bash ./build.sh --setup-deps

    - name: Setup Build Environment
      id: buildKernel
      run: |
        cd kernel_root
        gitsha1=$(git rev-parse --short HEAD)
        echo "buildDetails=$(make kernelversion)-${{ github.event.inputs.DEVICE_TARGET }}_$gitsha1" >> $GITHUB_OUTPUT
        echo "currDate=$(date)" >> $GITHUB_OUTPUT

    - name: Fetch Toolchains
      run: wget -q https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/105aba85d97a53d364585ca755752dae054b49e8/clang-r584948b.tar.gz -O /tmp/clang.tar.gz && mkdir ~/clang && tar -xf /tmp/clang.tar.gz -C ~/clang

    - name: Build savedefconfig for ${{ matrix.device }}
      env:
        DEVICE_TARGET: ${{ matrix.device }}
      run: |
        cd kernel_root
        bash ../build.sh --regen-defconfig
        mv out/defconfig out/${{ matrix.device }}_defconfig

    - name: Upload kernel defconfig
      uses: actions/upload-artifact@v4
      with:
        name: Defconfig-${{ steps.buildKernel.outputs.buildDetails }}
        path: |
          kernel_root/out/*_defconfig
