name: Build savedefconfig
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Kernel repository link'
        default: 'rsuntk/android_kernel_asus_sdm660'
        required: true
      branch:
        description: 'Kernel repository branch'
        default: 'master'
        required: true

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:      
    - name: Fetch Toolchains
      run: wget -q https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/105aba85d97a53d364585ca755752dae054b49e8/clang-r584948b.tar.gz -O /tmp/clang.tar.gz && mkdir ~/clang && tar -xf /tmp/clang.tar.gz -C ~/clang

  build:
    needs: fetch
    strategy:
      matrix:
        include:
          - device: X00TD
          - device: X01BD
    uses: ./.github/workflows/regen-script.yml
    with:
      repo: ${{ inputs.repo }}
      branch: ${{ inputs.branch }}
      device: ${{ matrix.device }}
